<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>404 - Page Not Found!</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='assets/css/404.css') }}" rel="stylesheet" />
</head>

<body>
    <div class="video-container" onclick="window.open('/')"> <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='assets/images/404.webm') }}" type="video/webm"> Your browser
            does not support the video tag.
        </video>
        <div class="video-overlay"><h1>4 0 4</h1></div>
    </div>
</body>

</html>