<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'components/meta.html' %}

  {% include 'components/analytics.html' %}

  <link href="{{ url_for('static', filename='mate.css') }}" rel="stylesheet" />

  <title>Poke PCR Optimized</title>

</head>

<body>

  {% include 'components/preload.html' %}

  <div class="container" id="app">

    {% include 'components/navbar.html' %}

    <div class="progress">
      <div class="indeterminate"></div>
    </div>

    <div class="row">
      <div class="col align-self-center text-center">
        <div class="input-group input-group-lg">
          <span class="input-group-text">Date</span>
          <span class="input-group-text"><i class="fa-regular fa-calendar-days"></i></span>
          <button class="btn btn-lg dropdown-toggle" :class="hasHist ? 'btn-primary' : 'btn-secondary'" type="button"
            data-bs-toggle="dropdown" aria-expanded="false" v-text="date"></button>
          <ul class="dropdown-menu">
            {% for night in night_list %}
            <li><a class="dropdown-item" @click="dateUpdate('{{ night }}')">{{ night }}</a></li>
            {% endfor %}
          </ul>
          <input type="text" class="form-control" aria-label="Text input with dropdown button" v-model.lazy="date">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="main_chart" style="width: 100%; height: 800px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="vol_chart" style="width: 100%; height: 200px"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="std_chart" style="width: 100%; height: 200px"></div>
      </div>
    </div>

    <h4 class="ui horizontal divider header">
      <i class="tag icon"></i>
      Winner Winner Chicken Dinner
    </h4>

    {% include 'components/footer.html' %}

  </div>

  {% include 'components/script.html' %}

  <script type="text/javascript">
    const { createApp, ref, computed, watch, onMounted } = Vue

    createApp({
      setup() {
        const now = ref(0)
        const arrow = ref({
          "chg_50": 0, "chg_300": 0, "chg_500": 0,
          "pcr_50": 0, "pcr_300": 0, "pcr_500": 0,
          "berry_50": 0, "berry_300": 0, "berry_500": 0,
          "vol_diff": 0, "margin": 0, "horizon": 0, "std_300": 0
        })
        const now_list = ref([])
        const pcr_50_list = ref([])
        const pcr_300_list = ref([])
        const pcr_500_list = ref([])
        const berry_50_list = ref([])
        const berry_300_list = ref([])
        const berry_500_list = ref([])
        const ma_300_list = ref([])
        const chg_300_list = ref([])
        const vol_list = ref([])
        const std_list = ref([])
        const xbox_shuffle = ref(0)
        const apple_shuffle = ref(0)
        const readme = ref("")
        const timer = ref(0)
        const gear = ref(0)
        const cache = ref([])
        const date = ref("Today")
        const hasHist = ref(false)
        const symbol = ref([])
        const symbX = ref([])
        const symbY = ref([])
        const symbC = ref([])


        function refresh() {
          axios
            .get("/api/stock/" + date.value)
            .then((response) => {
              console.log(response)
              symbol.value = response.data["symbol"]
              symbX.value = response.data["dt"]
              symbY.value = response.data["position"]
              symbC.value = response.data["color"]
            })
          axios
            .get("/api/hist/" + date.value)
            .then((response) => {
              console.log(response)
              now.value = response.data["now"]
              arrow.value = response.data["arrow"]
              now_list.value = response.data["now_list"]
              pcr_50_list.value = response.data["pcr_50_list"]
              pcr_300_list.value = response.data["pcr_300_list"]
              pcr_500_list.value = response.data["pcr_500_list"]
              berry_50_list.value = response.data["berry_50_list"]
              berry_300_list.value = response.data["berry_300_list"]
              berry_500_list.value = response.data["berry_500_list"]
              ma_300_list.value = response.data["ma_300_list"]
              chg_300_list.value = response.data["chg_300_list"]
              vol_list.value = response.data["vol_list"]
              std_list.value = response.data["std_list"]
              xbox_shuffle.value = response.data["xbox_shuffle"]
              apple_shuffle.value = response.data["apple_shuffle"]
              hasHist.value = true
            })
            .catch((error) => {
              hasHist.value = false
              // console.log(error)
            })
            .then(() => {
              getplotly()
            })
        }

        function getplotly() {
          var main_chart = document.getElementById('main_chart')
          var chg_300 = arrow.value.chg_300 * 10
          var berry_300 = arrow.value.berry_300
          var chg_300_arr = chg_300_list.value.map(item => item * 10)
          var symbY_arr = symbY.value.map(item => item * 10)
          if (main_chart) {
            var traceIF = {
              x: now_list.value,
              y: berry_300_list.value,
              mode: 'lines',
              line: {
                color: '#0d6efd',
                width: 2
              },
              name: 'IF HS300',
            }
            var traceMa = {
              x: now_list.value,
              y: ma_300_list.value,
              mode: 'lines',
              line: {
                color: '#b31b1b',
                width: 2
              },
              name: 'IF HS300 MA',
            }
            var traceLine = {
              x: [now.value.slice(0, 11) + "09:30:00", now.value.slice(0, 11) + "15:30:00"],
              y: [0, 0],
              mode: 'lines',
              name: 'dashdot',
              line: {
                dash: 'dashdot',
                color: '#002c37',
                width: 3
              }
            }
            var traceIndex = {
              x: now_list.value,
              y: chg_300_arr,
              mode: 'lines',
              name: 'HS300 index',
              line: {
                // dash: 'dashdot',
                color: '#666666',
                width: 2
              }
            }
            var traceSymbol = {
              x: symbX.value,
              y: symbY_arr,
              name: 'HS300 Symbol',
              mode: 'markers',
              marker: {
                color: symbC.value,
                size: 16,
                symbol: symbol.value,
              },
              type: 'scatter'
            }
            var traceCur = {
              x: [now.value.slice(0, 11) + "09:30:00", now.value.slice(0, 11) + "15:30:00", now.value.slice(0, 11) + "15:30:00", now.value.slice(0, 11) + "09:30:00"],
              y: [berry_300, berry_300, chg_300, chg_300],
              mode: 'lines',
              name: 'Solid',
              line: {
                dash: 'dashdot',
                color: '#FF00FF',
                width: 3
              }
            }

            var layout = {
              showlegend: false,
              xaxis: {
                title: 'AM',
                type: 'date',
                range: [now.value.slice(0, 11) + "09:29:00", now.value.slice(0, 11) + "11:31:00"],
              },
              yaxis: {
                title: 'Optimized',
              },
              xaxis2: {
                title: 'PM',
                type: 'date',
                range: [now.value.slice(0, 11) + "12:59:00", now.value.slice(0, 11) + "15:01:00"],
              },
              yaxis2: {
              },
              margin: {
                l: 40,
                r: 40,
                t: 20,
              },
              grid: { rows: 1, columns: 2, pattern: 'coupled' }
            }
            var plot_set = [...dup(traceLine), ...dup(traceMa), ...dup(traceIndex), ...dup(traceIF), ...dup(traceSymbol)]
            Plotly.newPlot(main_chart, plot_set, layout, { staticPlot: isMobile() })
          }
          var std_chart = document.getElementById('std_chart')
          if (std_chart) {
            var hori = Math.sqrt(arrow.value.horizon)
            var traceSTD = {
              x: now_list.value,
              y: std_list.value,

              mode: 'lines',
              line: {
                color: '#5F9EA0',
                width: 2
              },
              name: 'IF HS300 STD',
            }
            var traceLine = {
              x: [now.value.slice(0, 11) + "09:30:00", now.value.slice(0, 11) + "15:30:00"],
              y: [hori, hori],

              mode: 'lines',
              name: 'dashdot',
              line: {
                dash: 'dashdot',
                color: '#002c37',
                width: 3
              }
            }
            var layout = {
              showlegend: false,
              xaxis: {
                title: 'AM',
                type: 'date',
                range: [now.value.slice(0, 11) + "09:29:00", now.value.slice(0, 11) + "11:31:00"],
              },
              yaxis: {
                title: 'STD',
                range: [-0.1, 2.1],
              },
              xaxis2: {
                title: 'PM',
                type: 'date',
                range: [now.value.slice(0, 11) + "12:59:00", now.value.slice(0, 11) + "15:01:00"],
              },
              yaxis2: {
                range: [-0.1, 2.1],
              },
              margin: {
                l: 40,
                r: 40,
                t: 20,
              },
              grid: { rows: 1, columns: 2, pattern: 'coupled' }
            }
            var plot_set = [...dup(traceLine), ...dup(traceSTD)]
            Plotly.newPlot(std_chart, plot_set, layout, { staticPlot: isMobile() })
          }
          var vol_chart = document.getElementById('vol_chart')
          if (vol_chart) {
            var traceVol = {
              x: now_list.value,
              y: vol_list.value,
              fill: 'tozeroy',
              type: 'scatter',
              mode: 'lines',
              line: {
                color: '#FFA500',
                width: 2
              },
              name: 'IF HS300 Vol',
            }
            var traceVolPlus = {
              x: now_list.value,
              y: vol_list.value.map(item => item - 10),
              fill: 'tozeroy',
              type: 'scatter',
              mode: 'lines',
              line: {
                color: '#0d6efd',
                width: 2
              },
              name: 'IF HS300 Vol',
            }
            var traceLine = {
              x: [now.value.slice(0, 11) + "09:30:00", now.value.slice(0, 11) + "15:30:00"],
              y: [10, 10],
              mode: 'lines',
              name: 'dashdot',
              line: {
                dash: 'dashdot',
                color: '#002c37',
                width: 1
              }
            }
            var layout = {
              showlegend: false,
              xaxis: {
                title: 'AM',
                type: 'date',
                range: [now.value.slice(0, 11) + "09:29:00", now.value.slice(0, 11) + "11:31:00"],
              },
              yaxis: {
                title: 'Vol',
                range: [-0.1, 16],
              },
              xaxis2: {
                title: 'PM',
                type: 'date',
                range: [now.value.slice(0, 11) + "12:59:00", now.value.slice(0, 11) + "15:01:00"],
              },
              yaxis2: {
                range: [-0.1, 16],
              },
              margin: {
                l: 40,
                r: 40,
                t: 20,
              },
              grid: { rows: 1, columns: 2, pattern: 'coupled' }
            }
            var plot_set = [...dup(traceVol), ...dup(traceVolPlus), ...dup(traceLine)]
            Plotly.newPlot(vol_chart, plot_set, layout, { staticPlot: isMobile() })
          }
        }
        function dup(inputTrace) {
          var traceAM = { ...inputTrace }
          var tracePM = { ...inputTrace }
          traceAM["xaxis"] = 'x1'
          traceAM["yaxis"] = 'x1'
          tracePM["xaxis"] = 'x2'
          tracePM["yaxis"] = 'x2'
          return [traceAM, tracePM]
        }
        function isMobile() {
          if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            return true
          } else {
            return false
          }
        }
        function dateUpdate(item) {
          console.log(item)
          date.value = item
          refresh()
        }
        watch(date, (newVal, oldVal) => {
          dateUpdate(newVal)
        })
        onMounted(() => {
          dateUpdate('Today')
        })
        return {
          now,
          arrow,
          now_list,
          pcr_50_list,
          pcr_300_list,
          pcr_500_list,
          berry_50_list,
          berry_300_list,
          berry_500_list,
          ma_300_list,
          chg_300_list,
          vol_list,
          std_list,
          xbox_shuffle,
          apple_shuffle,
          timer,
          gear,
          date,
          hasHist,
          dateUpdate
        }
      }
    }).mount('#app')
  </script>

</body>

</html>