<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'components/meta.html' %}

  {% include 'components/analytics.html' %}

  <link href="{{ url_for('static', filename='assets/css/home.css') }}" rel="stylesheet" />

  <title>PokeScript - Home</title>
</head>

<body>

  {% include 'components/preload.html' %}

  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="/"><i class="fa-brands fa-github-alt"></i> PokeScript</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feature">特性</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#wechat">公众号</a>
          </li>
          <!-- <li class="nav-item"><a class="nav-link" href="#!">Services</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <div class="text-center my-5">
            <h1 class="display-5 fw-bolder text-white mb-2">
              用期权的全新视角看待股指期货
            </h1>
            <p class="lead text-white-50 mb-4">
              PCR（Put-Call-Ratio）-期权市场衍生出指标<br />
              从侧面预判股指期货走势
            </p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/op/horizon"><i class="fa-solid fa-meteor"></i>
                开始</a>
              <a class="btn btn-outline-light btn-lg px-4" href="/hist"><i class="fa-solid fa-clock-rotate-left"></i>
                历史</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features section-->
  <section class="py-5 border-bottom" id="feature">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
            <i class="fa-solid fa-shield-halved"></i>
          </div>
          <h2 class="h4 fw-bolder">假设1：期权保护头寸</h2>
          <p>
            做一个大胆的假设，某些资金在现货端准备操作前后，也许会在期权端进行保护，
            虽然这部分在现货端成交量可能不足为奇，但是期权端当前市场成交量并不大，
            略微的成交量放大都比较容易观察。反过来说期权端是否就是现货的一个缩影，或者踪迹。
          </p>
          <a class="text-decoration-none" href="">
            Call to action
            <i class="fa-solid fa-arrows-turn-right"></i>
          </a>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
            <i class="fa-solid fa-handshake-angle"></i>
          </div>
          <h2 class="h4 fw-bolder">假设2：跨期期权累计有效</h2>
          <p>
            当前期权成交量不足，为了保证PCR平滑，期权跨期累计可以对标股指期货主连。
            或者说跨期期权的不均匀并不会影响到PCR。
          </p>
          <a class="text-decoration-none" href="">
            Call to action
            <i class="fa-solid fa-arrows-turn-right"></i>
          </a>
        </div>
        <div class="col-lg-4">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
            <i class="fa-solid fa-fire"></i>
          </div>
          <h2 class="h4 fw-bolder">假设3：PCR可以与标的物累加</h2>
          <p>
            PCR本质上是一个成交量比值单位，原则上不能够与标的物股指期货进行拟合。
            但是这里本人为了能够获得一个平稳序列，就是将PCR（比值）与股指期货（涨跌）进行了拟合，
            或者近似平稳序列。
          </p>
          <a class="text-decoration-none" href="">
            Call to action
            <i class="fa-solid fa-arrows-turn-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Pricing section-->
  <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">VIP 知识共享平台 （功能暂未开放）</h2>
        <p class="lead mb-0">With our no hassle pricing plans</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <!-- Pricing card free-->
        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold text-muted">Free</div>
              <div class="mb-3">
                <span class="display-4 fw-bold">$0</span>
                <span class="text-muted">/ mo.</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  <strong>1 users</strong>
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  5GB storage
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Unlimited public projects
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Community access
                </li>
                <li class="mb-2 text-muted">
                  <i class="fa-solid fa-x"></i>
                  Unlimited private projects
                </li>
                <li class="mb-2 text-muted">
                  <i class="fa-solid fa-x"></i>
                  Dedicated support
                </li>
                <li class="mb-2 text-muted">
                  <i class="fa-solid fa-x"></i>
                  Free linked domain
                </li>
                <li class="text-muted">
                  <i class="fa-solid fa-x"></i>
                  Monthly status reports
                </li>
              </ul>
              <div class="d-grid">
                <a class="btn btn-outline-primary" href="#!">Choose plan</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Pricing card pro-->
        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold">
                <i class="fa-solid fa-meteor"></i>
                Pro
              </div>
              <div class="mb-3">
                <span class="display-4 fw-bold">$9</span>
                <span class="text-muted">/ mo.</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  <strong>5 users</strong>
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  5GB storage
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Unlimited public projects
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Community access
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Unlimited private projects
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Dedicated support
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Free linked domain
                </li>
                <li class="text-muted">
                  <i class="fa-solid fa-x"></i>
                  Monthly status reports
                </li>
              </ul>
              <div class="d-grid">
                <a class="btn btn-primary" href="#!">Choose plan</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Pricing card enterprise-->
        <div class="col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold text-muted">
                Enterprise
              </div>
              <div class="mb-3">
                <span class="display-4 fw-bold">$49</span>
                <span class="text-muted">/ mo.</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  <strong>Unlimited users</strong>
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  5GB storage
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Unlimited public projects
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Community access
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Unlimited private projects
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  Dedicated support
                </li>
                <li class="mb-2">
                  <i class="fa-solid fa-check text-primary"></i>
                  <strong>Unlimited</strong>
                  linked domains
                </li>
                <li class="text-muted">
                  <i class="fa-solid fa-check text-primary"></i>
                  Monthly status reports
                </li>
              </ul>
              <div class="d-grid">
                <a class="btn btn-outline-primary" href="#!">Choose plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials section-->
  <section class="py-5 border-bottom" id="wechat">
    <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>
        <h2 class="fw-bolder">微信公众号</h2>
        <p class="lead mb-0">扫码了解更多</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <!-- Testimonial 1-->
          <div class="card mb-4">
            <div class="card-body p-4">
              <div class="d-flex justify-content-center">
                <img src="{{ url_for('static', filename='/assets/images/wechat.png') }}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact section-->
  <section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <h2 class="fw-bolder">留言板（功能未开放）</h2>
        <p class="lead mb-0">We'd love to hear from you</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
          <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <!-- Name input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                data-sb-validations="required" />
              <label for="name">Full name</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">
                A name is required.
              </div>
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="email" type="email" placeholder="name@example.com"
                data-sb-validations="required,email" />
              <label for="email">Email address</label>
              <div class="invalid-feedback" data-sb-feedback="email:required">
                An email is required.
              </div>
              <div class="invalid-feedback" data-sb-feedback="email:email">
                Email is not valid.
              </div>
            </div>
            <!-- Phone number input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"
                data-sb-validations="required" />
              <label for="phone">Phone number</label>
              <div class="invalid-feedback" data-sb-feedback="phone:required">
                A phone number is required.
              </div>
            </div>
            <!-- Message input-->
            <div class="form-floating mb-3">
              <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."
                style="height: 10rem" data-sb-validations="required"></textarea>
              <label for="message">Message</label>
              <div class="invalid-feedback" data-sb-feedback="message:required">
                A message is required.
              </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                To activate this form, sign up at
                <br />
                <a
                  href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
              </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">
                Error sending message!
              </div>
            </div>
            <!-- Submit Button-->
            <div class="d-grid">
              <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container px-5">
      <p class="m-0 text-center text-white">
        Copyright &copy; PokeScript.com 2024 <i class="fa-solid fa-wand-magic-sparkles"></i> Email:gaoming714@126.com
      </p>
    </div>
  </footer>

  {% include 'components/script.html' %}
</body>

</html>