<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <!-- <semantic CSS> -->
  <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.5.0/semantic.min.css" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Main CSS -->
  <link href="{{ url_for('static', filename='preloader.css') }}" rel="stylesheet" />

  <!-- vue -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.6/axios.min.js"></script>

  <!-- Analytics_baidu -->
  <script src="{{ url_for('static', filename='Analytics_baidu.js') }}"></script>

  <title>Poke PCR Optimized</title>
</head>

<body>
  <!-- Start preloader -->
  <div class="preloader bg-dark flex-column justify-content-center align-items-center">
    <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 64 78.4">
      <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" />
      <rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6" />
      <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0"
        height="25.6" />
      <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" />
      <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6" />
      <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" />
      <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0"
        height="11.2" />
      <rect fill="none" stroke="#0d6efd" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2" />
      <rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2" />
      <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" />
      <rect fill="none" stroke="#0d6efd" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2" />
      <rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2" />
    </svg>
  </div>
  <!-- End preloader -->

  <div class="container" id="app">
    <nav class="navbar navbar-expand-md bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://github.githubassets.com/images/modules/site/home/logos/platform-linux.svg" />
          Poke PCR Optimized
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
          </ul>
          <div class="d-flex">
            <div class="ui labeled button" tabindex="0" onclick="window.open('/op/plot')">
              <div class="ui red button">
                <i class="heart icon"></i> Like
              </div>
              <a class="ui basic btn red left pointing label">
                Solo
              </a>
            </div>
            <div class="ui labeled button" tabindex="0" onclick="window.open('http://github.com/gaoming714/pokemon')">
              <div class="ui basic blue button">
                <i class="fork icon"></i>Forks
              </div>
              <a class="ui basic btn left pointing blue label"
                onclick="window.open('http://www.sse.com.cn/assortment/options/date/')">
                期权统计
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">IF ( 510300 ) - 上交所 沪深300 </div>
          <div class="card-body">
            <h5 v-text="berry_300+ ' - ( ' + pcr_300 + ' ) '"></h5>
            <div class="progress" style="height: 27px">
              <div class="progress-bar" role="progressbar" v-bind:aria-valuenow="berry_300" aria-valuemin="0"
                aria-valuemax="100" v-text="berry_300+'%'" :style="{width: berry_300+'%'}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col">
        <div class="mini ui icon message" :class="{ blue: isActive }" @click="fetch">
          <i class="notched icon"
            :class="{'sync alternate loading': isActive , 'pause circle outline': !isActive}"></i>
          <div class="content">
            <div class="header">current: <span v-text="now"></span></div>
            <p>Auto refresh during market opening.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="chart" style="width: 100%; height: 800px"></div>
      </div>
    </div>

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
      aria-controls="offcanvasBottom">
      Readme 使用说明
    </button>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">
          Offcanvas bottom
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small">
        <i class="notched circle loading icon"></i>
        <div class="content">
          <div class="header"><span>此指标为调整后的PCR，50以上宜看多，50以下宜看空。</span></div>
          <p>建立平台后，向上突破可做多，指标停滞可平仓，反向同理。</p>
        </div>
      </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        </a>
        <span class="text-muted"><i class="closed captioning icon"></i>Email:
          gaoming714@126.com</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-muted" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg></a>
        </li>
      </ul>
    </footer>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script> -->
  <!-- <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script> -->

  <!-- preloader need -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vivus/0.4.6/vivus.min.js"></script>

  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script> -->

  <script src="https://cdn.bootcdn.net/ajax/libs/plotly.js/2.21.0/plotly.min.js"></script>

  <script type="text/javascript">
    const { createApp } = Vue

    createApp({
      data() {
        return {
          timer: 0,
          pcr_50: 0,
          berry_50: 0,
          berry_50_list: [],
          pcr_300: 0,
          berry_300: 0,
          berry_300_list: [],
          pcr_500: 0,
          berry_500: 0,
          berry_500_list: [],
          burger: 0,
          burger_list: [],
          now: null,
          now_list: [],
          readme: null
        }
      },
      computed: {
        isActive() {
          return this.timer <= 0
        }
      },
      created() { },
      mounted() {
        this.fetch()
        this.refresh()
        setInterval(() => {
          if (this.timer <= -2) {
            this.fetch()
            this.refresh()
          }
          this.timer--
        }, 1000)
      },
      methods: {
        fetch() {
          that = this
          axios
            .get("/api/remain")
            .then(function (response) {
              that.timer = response.data
            })
            .catch(function (error) {
              console.log(error)
            })
            .then(function () { })
        },
        refresh() {
          that = this
          axios
            .get("/api/op")
            .then(function (response) {
              console.log(response)
              that.now = response.data["now"]
              that.pcr_50 = response.data["pcr_50"]
              that.berry_50 = response.data["berry_50"]
              that.pcr_300 = response.data["pcr_300"]
              that.berry_300 = response.data["berry_300"]
              that.pcr_500 = response.data["pcr_500"]
              that.berry_500 = response.data["berry_500"]
              that.burger = response.data["burger"]
              that.now_list = response.data["now_list"]
              that.berry_50_list = response.data["berry_50_list"]
              that.berry_300_list = response.data["berry_300_list"]
              that.berry_500_list = response.data["berry_500_list"]
              that.burger_list = response.data["burger_list"]
              that.pushdata()
            })
            .catch(function (error) {
              console.log(error)
            })
            .then(function () { })
        },
        pushdata() {
          this.now_list = that.now_list
          this.berry_50_list = that.berry_50_list
          this.berry_300_list = that.berry_300_list
          this.berry_500_list = that.berry_500_list
          this.buger_list = that.burger_list
          // this.getEchart()
          this.getplotly()
        },
        getplotly() {
          chart = document.getElementById('chart')
          if (chart) {
            var traceIFAM = {
              x: this.now_list,
              y: this.berry_300_list,
              xaxis: 'x1',
              yaxis: 'y1',
              mode: 'lines',
              line: {
                color: '#00a4ef',
                width: 2
              },
              name: 'IF 510300',
            }
            var traceIFPM = {
              x: this.now_list,
              y: this.berry_300_list,
              xaxis: 'x2',
              yaxis: 'y2',
              mode: 'lines',
              line: {
                color: '#00a4ef',
                width: 2
              },
              name: 'IF 510300',
            }
            var traceburgerAM = {
              x: this.now_list,
              y: this.burger_list,
              xaxis: 'x1',
              yaxis: 'y1',
              mode: 'lines',
              line: {
                color: '#b31b1b',
                width: 2
              },
              name: 'Burger',
            }
            var traceburgerPM = {
              x: this.now_list,
              y: this.burger_list,
              xaxis: 'x2',
              yaxis: 'y2',
              mode: 'lines',
              line: {
                color: '#b31b1b',
                width: 2
              },
              name: 'Burger',
            }
            var tracelineAM = {
              x: [this.now.slice(0, 11) + "09:30:00", this.now.slice(0, 11) + "11:30:00"],
              y: [50, 50],
              xaxis: 'x1',
              yaxis: 'y1',
              mode: 'lines',
              name: 'dashdot',
              line: {
                dash: 'dashdot',
                color: '#002c37',
                width: 3
              }
            }
            var tracelinePM = {
              x: [this.now.slice(0, 11) + "13:00:00", this.now.slice(0, 11) + "15:00:00"],
              y: [50, 50],
              xaxis: 'x2',
              yaxis: 'y2',
              mode: 'lines',
              name: 'Solid',
              line: {
                dash: 'dashdot',
                color: '#002c37',
                width: 3
              }
            }
            var traceCurAM = {
              x: [this.now, this.now, this.now],
              y: [this.berry_300, this.burger],
              xaxis: 'x1',
              yaxis: 'y1',
              mode: 'markers',
              type: 'scatter',
              marker: { color: '#FF00FF', size: 7 }
            }
            var traceCurPM = {
              x: [this.now, this.now, this.now],
              y: [this.berry_300, this.burger],
              xaxis: 'x2',
              yaxis: 'y2',
              mode: 'markers',
              type: 'scatter',
              marker: { color: '#FF00FF', size: 7 }
            }
            var layout = {
              showlegend: false,
              // title: 'Poke PCR Optimized',
              xaxis: {
                // data: this.now_list,
                title: 'AM',
                type: 'date',
                range: [this.now.slice(0, 11) + "09:29:00", this.now.slice(0, 11) + "11:31:00"],
              },
              yaxis: {
                title: 'Optimized （%）',
              },
              xaxis2: {
                title: 'PM',
                type: 'date',
                range: [this.now.slice(0, 11) + "12:59:00", this.now.slice(0, 11) + "15:01:00"],
              },
              yaxis2: {
              },
              margin: {
                l: 40,
                r: 40,
                t: 20,
              },
              grid: { rows: 1, columns: 2, pattern: 'coupled' }
            }
            var plot_set = [tracelineAM, tracelinePM, traceburgerAM, traceburgerPM, traceIFAM, traceIFPM, traceCurAM, traceCurPM]
            Plotly.newPlot(chart, plot_set, layout)
          }
        },
      },
    }).mount("#app")
  </script>

  <!-- Start preloader -->
  <script type="text/javascript">
    var preloader = document.querySelector('.preloader')
    if (preloader) {

      const animations = ['oneByOne', 'delayed', 'sync', 'scenario']

      new Vivus('loader-logo', { duration: 50, type: 'oneByOne' }, function () { })

      setTimeout(function () {
        preloader.classList.add('show')
      }, 1000)
    }
  </script>
  <!-- End preloader -->

</body>

</html>