<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?a12cd184c2c3fbcdfded3b344eaf0f2b";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();

</script>
<!-- Analytics_baidu -->
<script src="{{ url_for('static', filename='Analytics_baidu.js') }}"></script>

<!-- Analytics Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7JMM2D2DVM"></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-7JMM2D2DVM');
</script>