<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='platform-linux.svg') }}" />
        Poke PCR Optimized
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <div class="d-flex">
          <div class="ui labeled button" tabindex="0">
            <div class="ui red button"
              onclick="window.open('/op/horizon')">
              <i class="exchange icon"></i>Today
            </div>
            <a class="ui basic btn red left pointing label" onclick="window.open('/hist')">
              History
            </a>
          </div>
          <div class="ui labeled button" tabindex="0">
            <div class="ui basic blue button" onclick="window.open('http://github.com/gaoming714/pokemon')">
              <i class="fork icon"></i>Forks
            </div>
            <a class="ui basic btn left pointing blue label"
              onclick="window.open('http://www.sse.com.cn/assortment/options/date/')">
              期权统计
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>