<!-- Filepond stylesheet -->
<link href="https://cdn.bootcdn.net/ajax/libs/filepond/4.30.4/filepond.min.css" rel="stylesheet">

<input type="file" class="filepond" name="filepond" data-allow-reorder="true" data-max-file-size="3MB"
  data-max-files="3">

<!-- Load FilePond library -->
<script src="https://cdn.bootcdn.net/ajax/libs/filepond/4.30.4/filepond.min.js"></script>

<!-- Turn all file input elements into ponds -->
<script>
  FilePond.parse(document.body);
  FilePond.setOptions({
    server: '/upload',
  });
</script>